@import "tailwindcss";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --bg-mobile-url: url("/bg-mobile-light.svg");
  --bg-desktop-url: url("/bg-desktop-light.svg");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(1 0 0);
    --bg-mobile-url: url("/bg-mobile.svg");
    --bg-desktop-url: url("/bg-desktop.svg");
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
